---
layout: default
---

<div class="header-container jumbotron">
    <div class="container">
        <h4 style="color:#fff">Selamat datang di {{site.title}}</h4>
        <blockquote class="blockquote">
            <p class="mb-0" style="font-size:16px !important">{{site.title}} menjual alat tulis kantor, pulsa, paket data, kirim uang, listrik PLN, voucher game, BPJS, PDAM, barang elektronik dan masih banyak lagi di lingkungan Universitas Islam Negeri Sultan Maulana Hasanuddin Banten</p>
			<p class="mb-0" style="font-size:16px !important">Untuk pembayaran sangat mudah dengan cara info team kami via <u><a href="http://api.whatsapp.com/send?phone={{site.whatsapp}}&text=Kak saya mau ngambil barang sama mau bayar ketemuan di kelas saya ia kak ruang 3 fakultas syariah">WhatsApp</a></u> tak butuh waktu lama team kami langsung datang ke lokasi Anda di lingkungan kampus UIN SMH Banten dan bayar deh, gampang kan :)</p>
            <footer class="blockquote-footer txt-color-red">Owner {{site.my_name}}</footer>
        </blockquote>
    </div>
</div>


<div class="container">
	<span class="dot"></span><span style="font-size:12px"> Admin Online (<a href="http://api.whatsapp.com/send?phone={{site.whatsapp}}&text=Assalamualaikum">Chat via WhatsApp</a>)</span>
	{% include evoucher.html %}
	
	<div>
		{% for section in site.data.products %}
		<div class="filterdiv {{section.product}}">
			<a href="{{site.baseurl}}/product/{{section.product}}">
				<div class="product">
					<img src="{{ site.baseurl }}/{{section.urlimg}}"></img>
					<div class="product-title">
						<p><a href="{{site.baseurl}}/product/{{section.product}}">{{section.product}}</a><br><span>Rp {{section.harga}}</span></p>
					</div>
				</div>
			</a>
		</div>
		{% endfor %}
	</div>
</div>