<footer class="footer">
    <div class="container">
		<div class="row">
			<div class="col col-sm-6">
				<h4>Cari Saya</h4>
				<ul class="list-inline">
				<li class="list-inline-item"><a href="https://api.whatsapp.com/send?phone={{site.whatsapp}}" target="_blank"> WhatsApp</a></li>
				<li class="list-inline-item"><a href="https://web.facebook.com/{{site.facebook}}"  target="_blank">Facebook</a></li>
				<li class="list-inline-item"><a href="https://twitter.com/{{site.twitter}}" target="_blank">Twitter</a></li>
				<li class="list-inline-item"><a href="mailto:{{site.email}}">Email</a> </li>
				<li class="list-inline-item"><a href="{{site.git_address}}" target="_blank">GitHub</a> </li>
				</ul>
			</div>
			<div class="col col-sm-6">
				<h5>Proudly hosted by <a href="https://github.com" target="_blank"><strong>GitHub</strong></a></h5>
				<p>The contents of this website are <br>&copy;&nbsp;{{ site.time | date: '%Y' }} under the terms of the <a href="{{site.git_address}}/blob/master/LICENSE" target="_blank"><u>GPL 3.0&nbsp;License</u></a>.</p>
			</div>
		</div>
    </div>
</footer>
<div class="four">
	<div class="container">
{{ site.time | date: '%Y' }} &copy; {{site.title}}
	</div>
</div>
