<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container navbar-container">
        <div class="navbar-header">
            <a class="navbar-brand text-capitalize" href="{{ site.baseurl }}/">
                {{ site.title }}
            </a>
			<form class="navbar-left navbar-toggle">
					<div class="form-group has-feedback">
                        <input id="search-box" type="text" class="form-control" placeholder="Pencarian kilat..." style="width:200px !important;">
                        <i class="fa fa-search form-control-feedback"></i>
                    </div>
                </form>
        </div>
    </div>
</nav>
